:root {
    --light-blue-custom: #acdde7;
    --light-green-custom: #9ad5ca;
    --light-purple-custom: #adb9e3;
    --hover-purple-custom: #ba99d6;
    --dark-purple-custom: #a379c9;
    --pink-custom: #b744b8;
}

.body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--light-blue-custom);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* overflow-y: hidden; */
}

leader-dashboard {
    width: 50%;
    justify-content: center;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}